@* @page "/nuevoeditarproductos"
@inject IGenericService<Producto> _productosService
@inject NavigationManager _navigationManager

@if (producto == null )
{
    <p><em>Cargando...</em></p>
}
else
{
   <h3 >@tituloPagina</h3>
    <div style="background-color: @(isEditing ? "lightyellow": "white")">
        <EditForm Model="capacitacion" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
            <div class="container">
                <div class="col-md-5">
                     <div class="form-group">
                        <label class="form-label">Nombre:</label>
                        <InputText class="form-control mb-2" type="text" @bind-Value="capacitacion.Nombre" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Detalle:</label>
                        <InputText class="form-control mb-2" type="text" @bind-Value="capacitacion.Detalle" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Ponente:</label>
                        <InputText class="form-control mb-2" type="text" @bind-Value="capacitacion.Ponente" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Fecha y hora:</label>
                        <InputDate class="form-control mb-2" @bind-Value="capacitacion.FechaHora" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Cupo:</label>
                        <InputNumber class="form-control mb-2" type="text" @bind-Value="capacitacion.Cupo" />
                    </div>

                        <div class="form-group">

                            <label class="form-label">Inscripción Abierta:</label>
                            <InputCheckbox class="form-check" @bind-Value="capacitacion.InscripcionAbierta" />
                        </div>
                </div>
                <ValidationSummary />
                <button class="btn btn-primary" type="submit">@guardarButtonText</button>
                <button class="btn btn-danger" @onclick="Cancelar">Cancelar</button>
            </div>
        </EditForm>
    </div>
@code {

}
